.badge-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .badge-content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
  }
  
  .badge-content h3 {
    margin-top: 0;
  }
  
  .badge-content button {
    margin-top: 1rem;
  }
  .badge-icon {
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }